<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>testing file upload and download</h1>
    <form action="api/addBook" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="enter name" id="name">
        <input type="text" name="department" id="department" placeholder="department">
        <input type="number" name="org_id" id="org_id" placeholder="org id">
        <input type="file" name="file" id="file">
        <input type="submit" name="submit" id="submit" value="submit">
    </form>
</body>
</html>