@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
body {
  /* background-color: rgb(0, 160, 160); */
  box-sizing: border-box;
  margin: 0;
}

.merger {
  background-image: linear-gradient(90deg, #8bc2c4 5%, #3c92d4 44%, #336db9);

  height: 100vh;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  line-height: 34px;
  border: 1px solid black;

  background-image: linear-gradient(90deg, #9d0b28, #e46ba1 80%, #9d0b28);
}

.navLeftBar {
  position: relative;
  left: -160px;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  height: 40px;
  width: 300px;
  border-radius: 15px;
}

.navMid {
  position: relative;
  left: -60px;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  font-weight: bolder;
  text-decoration: overline;
}

.branches {
  background-color: white;
  position: relative;
  top: 180px;
  min-height: 380px;
  left: 0.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 97vw;
  border: 2px solid rgb(0, 0, 0);
  padding: 15px;
}
.one {
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  position: relative;
  background-image: linear-gradient(90deg, #92505d, #c5618e 60%, #92505d);
  top: 10px;
  width: 420px;
  height: 150px;
  transition: all 0.5s ease-in;
}

.one:hover {
  border: 2px solid black;
  border-radius: 35px;
  text-align: center;
  position: relative;
  background-image: linear-gradient(95deg, #57f0d6, #4dcf79 60%, #91dfd2);
  top: 10px;
  width: 420px;
  height: 150px;
}

.navRight {
  font-family: serif;
  font-size: 40px;
}

.tbx {
  background-image: linear-gradient(120deg, #91dfd2 50%, #52eb85 60%);
  color: black;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  font-family: 'IM Fell English SC', serif;
  font-weight: bolder;
}

.ATB {
  height: 80px;
  color: #03250e;
  text-align: center;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  font-weight: bolder;
  font-size: 62px;
}

.upload {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  height: 150px;
  position: relative;
  left: 850px;
  top: 35px;
}
